use pixi

export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

# export AMENT_PREFIX_PATH=/home/bresilla/code/pixi/rosy/.pixi/envs/default
export AMENT_PREFIX_PATH=/doc/code/pixi_humble/.pixi/envs/default


export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/isaac/isaac/exts/isaacsim.ros2.bridge/humble/lib
