use pixi

export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

# export AMENT_PREFIX_PATH=/home/bresilla/code/pixi/rosy/.pixi/envs/default
export AMENT_PREFIX_PATH=$TOP_HEAD/.pixi/envs/default


export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/isaac/isaac/exts/isaacsim.ros2.bridge/humble/lib
