use pixi

export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

export DISPLAY=:1

export ISAAC_PT=/opt/isaac/

export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$ISAAC_PT/isaac/exts/isaacsim.ros2.bridge/humble/lib:$TOP_HEAD/.pixi/envs/default/lib

export AMENT_PREFIX_PATH=$TOP_HEAD/.pixi/envs/default

source packages/install/setup.sh
